body, html {
    overflow-x: hidden;
}

#header {
    /* background-image: linear-gradient(to left top, #287365, #2a796b, #2c8070, #2f8676, #318d7c, #329481, #339c86, #35a38b, #37ad90, #3bb794, #40c197, #46cb9a); */
    height: 100vh;
}

#navbar {
    background-color: #FFFFFF;
}

.nav-list {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 100%;
    margin: 0;
    background-color: #FFFFFF;
    z-index: -1;
    transition: all .2s;
    box-shadow: 0px 21px 15px -15px rgba(0,0,0,0.1);
    border-bottom: 2px solid #349684;
}

.nav-list-active {
    left: 0;
}

.nav-item {
    padding: 15px;
    width: 100%;
    justify-content: center;
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar-active {
    background: #FFFFFF;
    backdrop-filter: none;
}

.logo {
    width: 40vw;
    margin-left: 8%;
}

#mobileMenu {
    display: flex;
    z-index: 1;
    cursor: pointer;
}

.conteudo-header {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding-top: 8vh;
    flex-direction: column;
    justify-content: start;
}

.textos-header {
    margin: 8vw;
}

.subtitulo-header {
    font-size: 1.5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo-header {
    font-size: 1.5em;
}

.descricao-header {
    font-size: 1em;
    width: 100%;
}

.btn-header {
    backdrop-filter: blur(13px);
    color: #FFFFFF;
    height: 5vh;
    width: 130px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.btn-header::before {
    display: none;
}

.img-header {
    width: 70vw;
    height: 70vw;
    bottom: 12%;
    right: -20%;
}

.veja-mais {
    display: none;
}

.container-g-sobre  {
    margin: 0vh 8vw 0 8vw;
}

.titulo-sobre {
    margin: 8vh 0 8vh 0;
}

.descricao-sobre {
    font-size: 1em;
    /* text-align: left; */
}

.textos-sobre {
    flex-direction: column;
}

.qrcode {
    display: none;
}

.titulo-video {
    margin-bottom: 3vh;
}

.container-video {
    margin-right: 8vw;
}

.video-sobre {
    width: 95%;
    height: 25vh;
}

.shape1 {
    width: 50vw;
    top: 10%;
    left: -25%;
}

.shape2 {
    width: 60vw;
    right: -25%;
}

.app {
    height: unset;
    margin-bottom: 5vh;
}

.container-app {
    margin-right: 8vw;
}

.img-app {
    display: none;
}

.container-cards {
    margin: 0;
    margin-left: 8vw;
}

.titulo-container-cards {
    display: none;
}

.card {
    display: flex;
    text-align: center;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    margin: 4vw 1vw;
}

.titulo-modal h2 {
    font-size: 1rem;
}


.texto-card {
    font-size: 1em;
}

#footer {
    flex-direction: column;
}

.background-contato {
    width: unset;
    height: 100vh;
    background-size: cover;
}

.titulo-contato {
    margin-top: 10vh;
}

.form-contato {
    width: 85%;
    padding: 2vh;
}

.recaptcha {
    width: 85%;
}

.input-contato,
#msgUser {
    font-size: 1em;
}

.primeiro-footer {
    margin-left: 0vw;
}

.logo-footer {
    width: 50vw;
}

.redes-img {
    width: 8vw;
    margin-left: 5vw;
}

.segundo-footer {
    margin-top: 5vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.terceiro-footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quarto-footer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.endereco {
    width: 100%;
}
