@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.verde-claro {
    color: #3db08f;
}

.verde-escuro {
    color: #349684;
}

#header {
    width: 100%;
    height: 100vh;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.navbar-active {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 90px;
}

.logo {
    width: 180px;
    margin-left: 90px;
}

.nav-item {
    margin-left: 55px;
    font-size: 20px;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: #313131;
}

.conteudo-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    width: 100%;
    height: 92vh;
}

.subtitulo-header {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    background: linear-gradient(116.36deg, #46CB9A -10.88%, #349684 64.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titulo-header {
    margin: 0;
    padding: 0;
    font-size: 3vw;
    color: #313131;
}

.descricao-header {
    margin-top: 60px;
    width: 42%;
    color: #313131;
    font-size: 1.4vw;
    font-weight: 500;
}

.btn-header {
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    height: 55px;
    width: 220px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(116.36deg, #46CB9A -10.88%, #349684 64.89%);
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.btn-header::before {
    content: 'Saiba mais';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 220px;
    height: 55px;
    background: linear-gradient(116.36deg, #349684 -10.88%, #46CB9A 64.89%);
    border-radius: 30px;
    border: none;
    line-height: 55px;
    transition: all .4s ease-in-out;
}

.btn-header:hover::before {
    opacity: 0;
}

.textos-header {
    margin: 90px;
}

.img-header {
    position: absolute;
    right: 0;
    margin-right: 90px;
    height: 45vw;
    width: 45vw; 
    object-fit: cover;
    object-position: 100% 100%;
    z-index: -1;
}

.veja-mais {
    position: absolute;
    bottom: 5%;
    left: 20%;
    margin-left: 90px;
    cursor: pointer;
    display: block;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    font-size: 25px;
}

.setinha {
    -moz-animation: setinha 2s infinite;
    -webkit-animation: setinha 2s infinite;
    animation: setinha 2s infinite;
  }

@keyframes setinha {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-6px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#sobre {
    width: 100%;
}

.container-g-sobre { /* -g- = geral*/
    margin: 0 90px 0 90px;
}

.titulo-sobre {
    color: #349684;
}

.textos-sobre {
    margin: 30px 0 30px 0;
    display: flex;
}

.descricao-sobre {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.qrcode {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.container-video {
    width: 100%;
    position: relative;
}

.titulo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #349684;
}

.icone-info {
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.video-sobre {
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    border: 8px solid transparent;
    outline: 4px solid #496461;
}

.shape1 {
    position: absolute;
    width: 30vw;
    top: -5%;
    left: -10%;
    z-index: -1;
}

.shape2 {
    position: absolute;
    width: 40vw;
    bottom: -20%;
    right: -12%;
    z-index: -1;
}

#app {
    width: 100%;
    height: 40vw;
    padding-top: 100px;
}

.titulo-app {
    text-align: center;
    color: #349684;
}

.container-app {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.img-app {
    position: absolute;
    left: 0;
    top: 10%;
    margin-right: 90px;
    height: 35vw;
    width: 40vw; 
    object-fit: cover;
    object-position: 100% 100%;
    z-index: -1;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8vw 0vw 0 35vw;
}

.card {
    display: flex;
    width: 25vw;
    height: 4vw;
    border-radius: 1vw;
    background: #FFFFFF;
    filter: drop-shadow(0px 35px 14px rgba(0, 0, 0, 0.01)) drop-shadow(0px 20px 12px rgba(0, 0, 0, 0.05)) drop-shadow(0px 9px 9px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    margin: 2vw 1vw;
    cursor: pointer;
}

.titulo-container-cards {
    position: absolute;
    top: 10%;
    color: #349684;
    font-size: 1.4vw;
}

.container-card-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    background-color: #46CB9A;
    border-radius: 10px 0px 0px 10px;
}

.card-img {
    width: 50%;
}

.mic {
    width: 40%;
}

.texto-card {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 500;
    color: #313131;
}

#contato  {
    position: relative;
    width: 100vw;
    margin-top: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-contato {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.titulo-contato {
    color: #313131;
    text-align: center;
    margin-top: 8vh;
    font-size: 4vh;
}

.container-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contato {
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 2vh;
    padding: 3vh;
}

.cont-input {
    width: 90%;
    margin-bottom: 3vh;
}

.input-contato {
    width: 100%;
    height: 4vh;
    display: block;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1vw;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.01), inset 0px 0px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 6px rgba(0, 0, 0, 0.09), inset 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: border .2s linear, outline .2s linear;
}

#msgUser {
    width: 100%;
    height: 20vh;
    display: block;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    box-shadow: inset 0px 0px 9px rgba(0, 0, 0, 0.01), inset 0px 0px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 6px rgba(0, 0, 0, 0.09), inset 0px 0px 3px rgba(0, 0, 0, 0.1);
    resize: unset;
    transition: border .2s linear, outline .2s linear;
}

.input-contato:focus,
#msgUser:focus {
    border: 1px solid #000000;
    outline: 2px solid #349684;
}

.btn-contato {
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    height: 5vh;
    width: 90%;
    border-radius: 10px;
    border: none;
    background: linear-gradient(116.36deg, #349684 -10.88%, #46CB9A 64.89%);
    font-size: 26px;
    font-weight: 600;
    color: #FFFFFF;
}

.btn-contato::before {
    content: 'Enviar';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background: linear-gradient(116.36deg, #46CB9A -10.88%, #349684 64.89%);
    line-height: 5vh;
    transition: all .4s ease-in-out;
}

.btn-contato:hover:before {
    opacity: 0;
}
